body {
    margin: 0;
    font-family: sans-serif;
    text-align: center;
    background-color: rgb(235, 235, 200);
}

h2 {
    font-size: 5vw;
}

.form {
    display: flex;
    margin: 0 auto;
}

.inputForm {
    margin-left: 2vw;
    width: 55vw;
    background-color: beige;
}

.textForm {
    width: 45vw;
}

.formRow, .select {
    display: flex;
    margin-bottom: 2vh;
}

.formRow {
    justify-content: left;
    margin-left: 1.4vw;
}

.select {
    justify-content: center;
    margin-top: 1.2vh;
}

select {
    font-size: 2.5vw;
}

.select label {
    font-size: 3vw;
    margin-bottom: 0.2vh;
}

.formRow label{
    font-size: 2.4vw;
    margin-bottom: 0.9vh;
}

.input {
    height: 1.5em;
    width: 2.5em;
    font-size: 2vw;
}

.start {
    width: 2.5em;
    font-size: 2vw;
}

textarea {
    font-size: 2.5vw;
    margin-top: 1.2vw;
}

button {
    font-size: 2.5vw;
    cursor: pointer;
    margin-bottom: 1.3vh;
}

#openLine {
    background-color: #06C755;
    color: white;
}
