body {
    margin: 0;
    font-family: sans-serif;
    text-align: center;
    background-color: rgb(235, 235, 200);
}

h2 {
    font-size: 6vw;
}

.form {
    margin-left: 5vw;
    width: 90vw;
    background-color: beige;
}

.inputForm {
    display: flex;
    margin: 0 auto;
}

.left, .right{
    width: 45vw;
}

.inputRow {
    margin-bottom: 1.5vh;
}

.select {
    margin-bottom: 4vh;
    font-size: 4vw;
}

select {
    margin-top: 2vh;
    font-size: 4vw;
}

.inputForm label{
    font-size: 3.5vw;
}

.input {
    height: 1.5em;
    width: 2.5em;
    font-size: 3.5vw;
}

textarea {
    font-size: 4vw;
    margin-top: 4vh;
}

button {
    font-size: 4vw;
    cursor: pointer;
}

#generate {            
    margin-top: 3vh;
    margin-bottom: 1.3vh;
}

#openLine {
    background-color: #06C755;
    color: white;
    margin-bottom: 5vh;
}

.message {
    font-size: 3vw;
}

.updateinfo {
    margin-top: 1vh;
    font-size: 4vw;
    background-color: azure;
}
